<div class="auth-wrapper">
  <div class="auth-content">
    <div class="text-center">
      <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
    </div>
    <div class="card borderless">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body" [formGroup]="userForm">
            <h4 class="mb-3 f-w-400 text-center">Signin</h4>
            <div class="mb-3">
              <input type="text" formControlName="username" class="form-control" placeholder="Username">
              <control-messages [control]="userForm.get('username')"></control-messages>
            </div>
            <div class="mb-4">
              <input type="password" formControlName="password" class="form-control" placeholder="Password">
              <control-messages [control]="userForm.get('password')"></control-messages>
            </div>
            <div class="form-group text-left mt-2">
              <recaptcha-demo-wrapper>
                <re-captcha></re-captcha>
                <span style="color: red; font-size:10px;">{{messageErrCaptcha}}</span>
              </recaptcha-demo-wrapper>
            </div>
            <button type="submit" class="btn btn-block btn-primary mb-4" [disabled]="!userForm.valid" (click)="submit()">Signin</button>
            <p class="mb-2 text-muted text-center">Forgot password?
              <a class="f-w-400" (click)="resetPass()">Reset</a>
            </p>
            <!-- <p class="mb-0 text-muted text-center">Don’t have an account?
              <a [routerLink]="['/auth/signup']" class="f-w-400">Signup</a>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>