<div class="row">
    <div class="col-xl-12 col-md-12">
  
      <app-card [hidHeader]="true" cardClass="tab-card">
        <h5 class="mb-3">Transaction history</h5>
        <ngb-tabset type="pills" >
          <ngb-tab title="Receive history" class="mb-3">
            <ng-template ngbTabContent>
              <table class="table table-hover mb-0" style="border: 1px solid #e2e5e8;">
                <thead>
                  <tr>
                    <th>From account number</th>
                    <th>To account number</th>
                    <th>Amount</th>
                    <th>Message</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!dataReceive.length">
                    <td><span style="color: red;">No detail</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let item of dataReceive">
                    <td>{{item.from_account_number}}</td>
                    <td>{{item.to_account_number}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.message}}</td>
                    <td>{{item.time}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Transfer history">
            <ng-template ngbTabContent>
              <table class="table table-hover mb-0" style="border: 1px solid #e2e5e8;">
                <thead>
                  <tr>
                    <th>From account number</th>
                    <th>To account number</th>
                    <th>Amount</th>
                    <th>Message</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!dataTransfer.length">
                    <td><span style="color: red;">No detail</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let item of dataTransfer">
                    <td>{{item.from_account_number}}</td>
                    <td>{{item.to_account_number}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.message}}</td>
                    <td>{{item.time}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Debit history">
            <ng-template ngbTabContent>
              <table class="table table-hover mb-0" style="border: 1px solid #e2e5e8;">
                <thead>
                  <tr>
                    <th>From account number</th>
                    <th>To account number</th>
                    <th>Amount</th>
                    <th>Message</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!dataDebit.length">
                    <td><span style="color: red;">No detail</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let item of dataDebit">
                    <td>{{item.from_account_number}}</td>
                    <td>{{item.to_account_number}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.message}}</td>
                    <td>{{item.time}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </app-card>
    </div>
  </div>