.hovericonedit{
    margin-right: 10px;
    &:hover{
        color: orange;
    }
}

.hovericondelete{
    &:hover{
        color: red;
    }
}

.hovericonadd{
    margin-right: 10px;
    &:hover{
        color: #2ecc71;
    }
}

