<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Inter-bank transfer" [options]="false">
      <div class="row">
        <div class="col-md-12">
          <form action="javascript:">
            <div class="form-group">
              <label for="inputAddress">Source billing account</label>
              <input type="text" class="form-control" id="inputAddress">
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="beneficiaryAccount">Beneficiary account</label>
                <div style="display: flex;">
                  <input type="text" class="form-control" id="beneficiaryAccount1" aria-describedby="beneficiaryAccount" placeholder="Enter beneficiary account">
                  <div class="input-group-append dropdown" ngbDropdown placement="auto">
                    <button type="button" class="btn btn-secondary dropdown-toggle-split" ngbDropdownToggle><span class="sr-only">Toggle Dropdown</span></button>
                    <div ngbDropdownMenu>
                      <a class="dropdown-item" href="javascript:">Action</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="accountname">Account name</label>
                <input type="text" class="form-control" id="accountname" placeholder="Account name">
              </div>
              <div class="form-group col-md-6">
                <label for="bank">Bank</label>
                <select class="form-control" id="bank">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <small id="beneficiaryAccount" class="form-text text-muted">Please check beneficiary information before make the transaction</small>
                <button type="button" class="btn btn-outline-primary" style="margin-top: 10px;" ngbTooltip="btn-outline-primary">Check</button> 
              </div>
              <div class="form-group col-md-6">
                <button type="button" class="btn btn-icon btn-outline-success" style="margin-right: 10px;"><i class="feather icon-check-circle"></i></button>
                <label class="form-check-label" for="exampleCheck1">Save beneficiary</label>
              </div>
            </div>
            <div class="form-group">
              <label>Currency</label>
              <input type="text" class="form-control" placeholder="VND">
            </div>
            <div class="form-group">
              <label for="transactionDetail1">Transaction detail</label>
              <textarea class="form-control" id="transactionDetail" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Continue</button>
          </form>
        </div>
      </div>
    </app-card>
  </div>
</div>
