<div class="row">
  <!-- project and team member start -->
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Recipient List" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
          <tr>
            <th> Account number receive </th>
            <th> Recipient's name </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listRecipient">
            <td>{{item.account_number_receive}}</td>
            <td>{{item.name_reminiscent}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
