<div class="row">
  <!-- project and team member start -->
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Recipient List" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
          <tr>
            <th>
              Account number
            </th>
            <th>Account type</th>
            <th class="text-right">Balance</th>
            <!-- <th class="text-right">Priority</th> -->
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="d-inline-block align-middle">
                <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                <div class="d-inline-block">
                  <h6>John Deo</h6>
                  <p class="text-muted m-b-0">Graphics Designer</p>
                </div>
              </div>
            </td>
            <td>Flat Able</td>
            <td class="text-right">Jun, 26</td>
            <!-- <td class="text-right"><label class="badge badge-light-danger">Low</label></td> -->
          </tr>
          </tbody>
        </table>
        <div   style="display: flex;">
          <h6 class="col-xl-10 col-md-12 text-muted text-right">Total balance: </h6>
          <h5 class="col-xl-2 col-md-12 card-title">123456789 VND</h5>
        </div>
      </div>
    </app-card>
  </div>
</div>
