<h1 mat-dialog-title>Đăng ký cho nhân viên mới</h1>
<div mat-dialog-content>
  <form [formGroup]="insForm">
    <mat-form-field style="width: 300px;">
      <mat-label>Họ tên</mat-label>
      <input matInput disabled [formControlName]="'name'">
    </mat-form-field>
    <br>
    <label>Giới tính: </label>
    <mat-radio-group [formControlName]="'sex'">
      <mat-radio-button [value]="'male'">Nam</mat-radio-button>
      <mat-radio-button [value]="'female'">Nữ</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field style="width: 300px;">
      <mat-label>Email</mat-label>
      <input matInput disabled [formControlName]="'email'">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 300px;">
      <mat-label>Số điện thoại</mat-label>
      <input matInput [formControlName]="'phone'">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 300px;">
      <mat-label>Địa chỉ</mat-label>
      <input matInput [formControlName]="'address'">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div style="margin: 0 auto">
    <button mat-button (click)="insertClick()">Đăng ký</button>
    <button mat-button (click)="closeClick()" cdkFocusInitial>Trở về</button>
  </div>
</div>
