<div class="row">
  <!-- project and team member start -->
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Account information" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
          <tr>
            <th>
              Username
            </th>
            <th>Account number</th>
            <th>Full name</th>
            <th>Email</th>
            <th class="text-right">Balance</th>
            <!-- <th class="text-right">Priority</th> -->
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{userIfo.username}}</td>
            <td>{{userIfo.account_number}}</td>
            <td>{{userIfo.full_name}}</td>
            <td>{{userIfo.email}}</td>
            <td class="text-right">{{userIfo.account_balance.toLocaleString()}} VND</td>
            <!-- <td class="text-right"><label class="badge badge-light-danger">Low</label></td> -->
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
