<h1 mat-dialog-title>Cập nhật thông tin nhân viên</h1>
<div mat-dialog-content>
  <form [formGroup]="updForm">
    <mat-form-field style="width: 300px;">
      <mat-label>Họ tên</mat-label>
      <input #name matInput disabled [formControlName]="'name'">
    </mat-form-field>
    <br>
    <label>Giới tính: </label>
    <mat-radio-group [formControlName]="'sex'">
      <mat-radio-button [value]="'Nam'">Nam</mat-radio-button>
      <mat-radio-button [value]="'Nữ'">Nữ</mat-radio-button>
    </mat-radio-group>
    <br>
    <label>Quyền hạn: </label>
    <mat-radio-group [formControlName]="'permission'">
      <mat-radio-button [value]="'1'">Admin</mat-radio-button>
      <mat-radio-button [value]="'0'">Giao dịch viên</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-checkbox>Đặt lại mật khẩu</mat-checkbox>
    <br>
    <mat-form-field style="width: 300px;">
      <mat-label>Email</mat-label>
      <input #email matInput type="email" [formControlName]="'email'">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 300px;">
      <mat-label>Số điện thoại</mat-label>
      <input #phone matInput [formControlName]="'phone'">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 300px;">
      <mat-label>Địa chỉ</mat-label>
      <input #address matInput [formControlName]="'address'">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div style="margin: 0 auto">
    <button mat-button (click)="updateClick()">Cập nhật</button>
    <button mat-button (click)="closeClick()" cdkFocusInitial>Trở về</button>
  </div>
</div>
